<h1>Nova mensagem recebida no site</h1>
</br>
<p><b>{{data.name}}</b> lhe enviou a seguinte mensagem:</p>
</br>
<p>{{data.message}}</p>
</br>
<p>Para entrar em contato: </br>Telefone: {{data.tel}} - Email: {{data.email}} </p>